

<div id="wrapper">

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
	<div id="logo">

	</div>

		<div class="post">
			<h1>
				   <%= gravatar_for @host  %>
			     <%= @host.first_name %> , <%= @host.last_name %> , <%= @host.username  %>
			 </h1>
			</div>
		</div>

	</div>
	<!-- end content -->
	<!-- start sidebars -->
	
	<div style="clear: both;">&nbsp;</div>
<!-- end page -->
<div id="footer">
	<p><%= link_to "Go Back to Host Page" , root_path%></p>
</div>
</div>

</div>
