<%= form_for(:party, :url => parties_path) do |f| %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
<div class="field">
    <%= f.label :location  %><br />
    <%= f.text_field :location  %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
<div class="field">
    <%= f.label :rsvp_date %><br />
    <%= f.date_select :rsvp_date %>
  </div>
  <div class="actions">
    <%= f.submit "Create a Party" %>
    
  </div>
<% end %>

